<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
      </div>
      <ul class="list-group">
      		<li class="list-group-item" ng-click="pickAddress(address)" ng-repeat="address in addresses">{{address.street}}</li>
    	</ul>
    	<button type="button" class="btn btn-primary" ng-click="prevPage()">Previous</button>
    	<button type="button" class="btn btn-primary" ng-click="nextPage()">Next</button>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Address</h3>
      </div>
      <div class="panel-body">
        <div class="input-group">
      		<span class="input-group-addon" id="basic-addon1">Street</span>
      		<input type="text" class="form-control" placeholder="Street" ng-model="currentAddress.street" aria-describedby="basic-addon1" ng-change="addressTextChanged()">
    	</div>
    	<div class="input-group">
      		<span class="input-group-addon" id="basic-addon1">City</span>
      		<input type="text" class="form-control" placeholder="City" ng-model="currentAddress.city" aria-describedby="basic-addon1" ng-change="addressTextChanged()">
    	</div>
    	<div class="input-group">
      		<span class="input-group-addon" id="basic-addon1">State</span>
      		<input type="text" class="form-control" placeholder="State" ng-model="currentAddress.state" aria-describedby="basic-addon1" ng-change="addressTextChanged()">
    	</div>
    	<div class="input-group">
      		<span class="input-group-addon" id="basic-addon1">Zip Code</span>
      		<input type="text" class="form-control" placeholder="Zip Code" ng-model="currentAddress.zipcode" aria-describedby="basic-addon1" ng-change="addressTextChanged()">
    	</div>
      </div>
      <button type="button" class="btn btn-danger" ng-click="deleteAddress()">Delete</button>
      <button type="button" class="btn btn-secondary" ng-click="clearAddress()">Clear</button>
      <button type="button" class="btn btn-primary" ng-click="saveAddress()" ng-disabled="!addressFound">Save</button>
      <button type="button" class="btn btn-secondary" ng-click="checkAddress()">Check Address</button>
      <span class={{alertType}}>{{alertMessage}}</span>
    </div>
  </div>
</div>
